# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local
.next
attached_assets/
*.txt
attached_assets/Pasted--Intervention-Slow-network-is-detected-See-URL-for-more-details-Fallback-font-will-be-used-whil-1761927865994_1761927865996.txt
